*.log
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.vagrant
/auth.json
auth.json
/node_modules
node_modules/
/public/build
/public/fonts-manifest.dev.json
/public/hot
public/hot
public_html/hot
/public/storage
public/storage
public_html/storage
/storage/*.key
storage/*.key
/storage/pail
/vendor
/vendor/
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
bootstrap/compiled.php
app/storage/
